<main class="mt-10">

  <div class="mb-4 md:mb-0 w-full mx-auto relative">
    <div class="px-4 lg:px-0">
      <div class="text-4xl hidden lg:block font-semibold text-gray-800 leading-tight">
        <div class="flex flex-row">
          <div class="basis-3/4">
            <h4>{{data.title}}</h4> 
          </div>
          <div class="basis-1/4" >
            <button (click)="refLink(data.linkRef)"
              class="animate-bounce float-right relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
              <span
                class="relative px-2 py-2 transition-all ease-in duration-75 bg-white text-4xl dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                <p class="mb-1">Visit Website</p> 
              </span>
            </button>

            <button *ngIf="isShow" (click)="refLink(data.linkRef)"
              class=" fixed  bottom-20 float-right right-1 inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
              <span
                class="relative px-2 py-2 transition-all ease-in duration-75 text-xs bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Visit Website
              </span>
            </button>
          </div>
          
        </div>

      </div>
      <div class="basis-1/4 md:hidden">
        <h2 class="text-4xl font-semibold text-gray-800 leading-tight">
          {{data.title}}
        </h2>
        <button  (click)="refLink(data.linkRef)" class=" float-right relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
          
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Visit Website
          </span>
          </button>
          <!-- <button  (click)="refLink(data.linkRef)" class=" fixed  bottom-12  float-right right-5 inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
            <span class="relative px-5 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Visit Website
            </span>
            </button> -->
      </div>
      <h4>Created at: {{data.created_At| date:'yyyy-MM-dd'}}</h4>

    </div>


  </div>
  <figure>
    <img [src]="data.image" alt="{{data.title}}">
  </figure>
  <div class="flex flex-col lg:flex-row lg:space-x-12">
    <div [innerHTML]="data.content" class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-4/4">
    </div>
  </div>
</main>